
@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('../fonts/SFUIText-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/SFUIText-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/SFUIText-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}