$background: #C6CFDA;
$white: #ffffff;
$blue: #172C45;
$blueMid: #bcd1eb;
$blueLight: #D1DFF0;
$green: #18D399;
$greenLight: #33e6ad;
$red: #FF5252;
$redLight: #F77883;
$violet: #5278FF;
$violetHigh: #AF7BD4;
$acua: #168FAD;

$divider: #EAEAEA;
$disable: #C6CFDA;
$backTable: #F0F5FA;
$barr: #B7B7B7;
